<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <title>Node Review Analyzer</title>
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <v-app dark standalone id="reviewAnalyzer">
        <v-toolbar fixed dark>
            <v-toolbar-title>Review Analyzer</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon>
                <v-icon>file_download</v-icon>
            </v-btn>
        </v-toolbar>
        <main>
            <v-container fluid>
                <v-layout row wrap>
                    <v-flex xs12 sm12 md6 lg6 xl6>
                        <v-card>
                            <v-card-title>
                                <div class="headline"><v-icon left>rate_review</v-icon> Form</div>
                            </v-card-title>
                            <v-card-text>
                                <v-text-field label="Input review here..." dark multi-line v-model="review">
                                </v-text-field>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn flat @click="analyze" :disabled="analyzeButton">Analyze <v-icon right>send</v-icon></v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                    <v-flex xs12 sm12 md6 lg6 xl6>
                        <v-card>
                            <v-card-title>
                                <div class="headline"><v-icon left>grade</v-icon> Grade</div>
                            </v-card-title>
                            <v-card-text class="text-xs-center">
                                <v-progress-linear :indeterminate="true" v-show="loader"></v-progress-linear>
                                <h4 v-if="result == 'positive'" class="green--text"><v-icon left class="green--text">favorite</v-icon> Positive</h4>
                                <h4 v-else-if="result == 'negative'" class="red--text"><v-icon left class="red--text">close</v-icon> Negative</h4>
                                <h4 v-else-if="result == 'neutral'" class="white--text"><v-icon left>sentiment_neutral</v-icon> Neutral</h4>
                            </v-text-field>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </main>
    </v-app>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/app.js"></script>
</body>
</html>